NEW TEST DATA - October 2018 to March 2019.json
NEW TRAINING DATA - August 2017 to September 2018.json
Task Description.pdf
Testing Data Profitability Analysis.ods
.vscode/settings.json
docs/methodology.aux
docs/methodology.log
docs/methodology.out
docs/methodology.pdf
docs/methodology.synctex.gz
texput.log
